@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="change_password toogle_profile">
    <h3>CHANGE PASSWORD</h3>
    <p>Feel free to update your password so your account stays secure.</p>
    @if ((string)TempData["Referrer"] == "ChangedPassword")
    {
        <div class="updated-succ">
            <strong>Updated Successfully !</strong>
        </div>
    }
    else if ((string)TempData["Referrer"] == "NotChangedPassword")
    {

        <div class="updated-fail">
            <strong>Your password has not been changed !</strong>
        </div>
    }

    <form class="my_details_form" method="post">
        <div>
            <label asp-for="Input.OldPassword">Current Password</label>
            <input asp-for="Input.OldPassword">
        </div>
        <div>
            <label asp-for="Input.NewPassword">New Password</label>
            <input asp-for="Input.NewPassword">
        </div>
        <div>
            <label asp-for="Input.ConfirmPassword">Re-enter New Password</label>
            <input asp-for="Input.ConfirmPassword">
        </div>
        <div class="save_password">
            <button type="submit" class="sign_in_button">Update password</button>
        </div>
    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}