@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="mt-0 bck-account page-banner">
    <div id="content">
        <h2 class="title">Back to shooping place</h2>
        <ul class="breadcrumb-list">
            <li><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">ForgotPassword</a></li>
        </ul>
    </div>
</div>
<div class="main-container">
    <div class="loginForgetPassword">
        <div class="login_start">
            <p>Reset Your Password</p>
            <p>We will send you an email to reset your password.</p>
            <div class="login_form">
                <form class="log_register" method="post">
                    <input asp-for="Input.Email" placeholder="Email">
                    <div class="button_sign">
                        <button type="submit" class="sign_in_button">Submit</button>
                        <a href="">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
