@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="mt-0 bck-account page-banner">
    <div id="content">
        <h2 class="title">Back to shooping place</h2>
        <ul class="breadcrumb-list">
            <li><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">@ViewData["Title"]</a></li>
        </ul>
    </div>
</div>

<div class="main-container">
    <div class="loginForgetPassword">
        <div class="login_start">
            <p>@ViewData["Title"]</p>
            <div class="login_form frg-password">
                <p>
                    Please check your email to reset your password!
                </p>
            </div>
        </div>
    </div>
</div>


